CDODesign/Design/TransFilter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by any (Ru-Board) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="CriteriaType">
		<xs:attribute name="Name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Operator" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="="/>
					<xs:enumeration value="!="/>
					<xs:enumeration value="&gt;"/>
					<xs:enumeration value="&gt;="/>
					<xs:enumeration value="&lt;"/>
					<xs:enumeration value="&lt;="/>
					<xs:enumeration value="ISNULL"/>
					<xs:enumeration value="ISNOTNULL"/>
					<xs:enumeration value="MATCH"/>
					<xs:enumeration value="NOTMATCH"/>
					<xs:enumeration value="IN"/>
					<xs:enumeration value="NOTIN"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Value" type="xs:string"/>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Boolean"/>
					<xs:enumeration value="BooleanArray"/>
					<xs:enumeration value="Byte"/>
					<xs:enumeration value="ByteArray"/>
					<xs:enumeration value="Short"/>
					<xs:enumeration value="ShortArray"/>
					<xs:enumeration value="Integer"/>
					<xs:enumeration value="IntegerArray"/>
					<xs:enumeration value="Long"/>
					<xs:enumeration value="LongArray"/>
					<xs:enumeration value="Float"/>
					<xs:enumeration value="FloatArray"/>
					<xs:enumeration value="Double"/>
					<xs:enumeration value="DoubleArray"/>
					<xs:enumeration value="String"/>
					<xs:enumeration value="StringArray"/>
					<xs:enumeration value="Date"/>
					<xs:enumeration value="DateArray"/>
					<xs:enumeration value="Time"/>
					<xs:enumeration value="TimeArray"/>
					<xs:enumeration value="DateTime"/>
					<xs:enumeration value="DateTimeArray"/>
					<xs:enumeration value="CDO"/>
					<xs:enumeration value="CDOArray"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ValueRequired" type="xs:boolean" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="CreteriasType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="Creteria" type="CriteriaType"/>
			<xs:element name="Creterias" type="CreteriasType"/>
		</xs:choice>
		<xs:attribute name="Type" default="AND">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="AND"/>
					<xs:enumeration value="OR"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LogTransType">
		<xs:attribute name="OperationName" use="required">
			<xs:annotation>
				<xs:documentation>operation name, can chinese.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="OperationType">
			<xs:annotation>
				<xs:documentation>operation type</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="RelationId">
			<xs:annotation>
				<xs:documentation>cdoRequest key</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([a-z]|[A-Z]|_)([a-z]|[A-Z]|[0-9]|_|.)*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="RelationTitle">
			<xs:annotation>
				<xs:documentation>cdoRequest key</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([a-z]|[A-Z]|_)([a-z]|[A-Z]|[0-9]|_|.)*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="UserId">
			<xs:annotation>
				<xs:documentation>cdoRequest key</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([a-z]|[A-Z]|_)([a-z]|[A-Z]|[0-9]|_|.)*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="UserName">
			<xs:annotation>
				<xs:documentation>cdoRequest key</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([a-z]|[A-Z]|_)([a-z]|[A-Z]|[0-9]|_|.)*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Priority" type="xs:int" default="0">
			<xs:annotation>
				<xs:documentation>default0,0~9</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PreTransEventType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="PreTransaction">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element ref="Transaction" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Syn" type="xs:boolean" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PrePushCache">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element ref="PushCache" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Syn" type="xs:boolean" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PreRemoveCache">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element ref="RemoveCache" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Syn" type="xs:boolean" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PreRemoveURLCache">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element ref="RemoveURLCache" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Syn" type="xs:boolean" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PreEventGroup">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element ref="For" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Syn" type="xs:boolean" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PreLoadCache">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element ref="LoadCache" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Syn" type="xs:boolean" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="BusinessLog" type="LogTransType"/>
			<xs:element name="Event" type="EventType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PostTransEventType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="PostTransaction">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReturnCode" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="Operator" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="="/>
											<xs:enumeration value="!="/>
											<xs:enumeration value="&gt;"/>
											<xs:enumeration value="&gt;="/>
											<xs:enumeration value="&lt;"/>
											<xs:enumeration value="&lt;="/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="Value" type="xs:int" use="required"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="RequestCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element name="ResponseCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element ref="Transaction" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Syn" type="xs:boolean" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostPushCache">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element name="ResponseCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element ref="PushCache" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Syn" type="xs:boolean" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostRemoveCache">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element name="ResponseCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element ref="RemoveCache" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Syn" type="xs:boolean" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostRemoveURLCache">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element name="ResponseCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element ref="RemoveURLCache" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Syn" type="xs:boolean" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostEventGroup">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element name="ResponseCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element ref="For" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Syn" type="xs:boolean" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostLoadCache">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element name="ResponseCondition" type="CreteriasType" minOccurs="0"/>
						<xs:element ref="LoadCache" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Syn" type="xs:boolean" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="BusinessLog" type="LogTransType"/>
			<xs:element name="Event" type="EventType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CacheKeyType" mixed="true">
		<xs:attribute name="Type" default="Json">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Common"/>
					<xs:enumeration value="Json"/>
					<xs:enumeration value="XML"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TransCacheType">
		<xs:sequence>
			<xs:element name="RequestCondition" type="CreteriasType" minOccurs="0"/>
			<xs:element name="RemoveKey" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CacheKey" type="CacheKeyType" minOccurs="0"/>
			<xs:element name="CacheValue" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="FieldId">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="CacheId">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:pattern value="(([a-z]|[A-Z])([a-z]|[A-Z]|[0-9])*)*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ExpireTime" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="EventType">
		<xs:attribute name="EventName" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:pattern value="([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|_|\.)*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="For">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="PushCache"/>
				<xs:element ref="RemoveCache"/>
				<xs:element ref="RemoveURLCache"/>
				<xs:element ref="LoadCache"/>
				<xs:element ref="Transaction"/>
			</xs:choice>
			<xs:attribute name="IndexId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FromIndex" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([0-9]{1,9})|(\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Count" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([0-9]{1,9})|(\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Transaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestKey" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="Scope" default="Request">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Request"/>
									<xs:enumeration value="Response"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="FieldId">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ValueId" use="optional">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Value" type="xs:string"/>
						<xs:attribute name="Type" use="optional">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Boolean"/>
									<xs:enumeration value="BooleanArray"/>
									<xs:enumeration value="Byte"/>
									<xs:enumeration value="ByteArray"/>
									<xs:enumeration value="Short"/>
									<xs:enumeration value="ShortArray"/>
									<xs:enumeration value="Integer"/>
									<xs:enumeration value="IntegerArray"/>
									<xs:enumeration value="Long"/>
									<xs:enumeration value="LongArray"/>
									<xs:enumeration value="Float"/>
									<xs:enumeration value="FloatArray"/>
									<xs:enumeration value="Double"/>
									<xs:enumeration value="DoubleArray"/>
									<xs:enumeration value="String"/>
									<xs:enumeration value="StringArray"/>
									<xs:enumeration value="Date"/>
									<xs:enumeration value="DateArray"/>
									<xs:enumeration value="Time"/>
									<xs:enumeration value="TimeArray"/>
									<xs:enumeration value="DateTime"/>
									<xs:enumeration value="DateTimeArray"/>
									<xs:enumeration value="CDO"/>
									<xs:enumeration value="CDOArray"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ServiceName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|_|\.)*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TransName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|_|\.)*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PushCache">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="CacheKey" type="CacheKeyType" minOccurs="0"/>
				<xs:element name="CacheValue" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="FieldId" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ExpireTime" type="xs:int"/>
			<xs:attribute name="CacheId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="(([a-z]|[A-Z])([a-z]|[A-Z]|[0-9])*)*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RemoveCache">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0">
				<xs:element name="CacheKey" type="CacheKeyType"/>
			</xs:sequence>
			<xs:attribute name="CacheId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="(([a-z]|[A-Z])([a-z]|[A-Z]|[0-9])*)*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RemoveURLCache">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CacheURL" maxOccurs="unbounded">
					<xs:complexType mixed="true">
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="Type" default="Json">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="Common"/>
											<xs:enumeration value="Json"/>
											<xs:enumeration value="XML"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="Host" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ServerId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|_|\.)*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FilterDefine">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Filter" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TransCache" type="TransCacheType" minOccurs="0"/>
							<xs:element name="PreEvent" type="PreTransEventType" minOccurs="0"/>
							<xs:element name="PostEvent" type="PostTransEventType" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="ServiceName" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:pattern value="([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|_|\.)*"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="TransName" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:pattern value="([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|_|\.)*"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="DefaultCacheId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="(([a-z]|[A-Z])([a-z]|[A-Z]|[0-9])*)*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="LoadCache">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Transaction"/>
				<xs:element name="ResponseCondition" type="CreteriasType" minOccurs="0"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="PushCache"/>
					<xs:element ref="RemoveCache"/>
					<xs:element ref="RemoveURLCache"/>
					<xs:element ref="For"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
